---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Angel Baez - About">
  <h1>About</h1>
  <p>
    I'm a senior developer with more than seven years of experience working with
    recognized international brands and companies across all industries.
  </p>
</Layout>
