---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
---

<Layout title="Angel Baez - Contact">
  <h1>Contact</h1>
  <p>
    Feel free to reach out at <a href="mailto:a@baezor.io">a@baezor.io</a>. Or
    you can find me on <a href="https://twitter.com/baezor" target="_blank"
      >Twitter ↗</a
    > and <a href="https://github.com/baezor" target="_blank">Github ↗</a>
  </p>
  <Form />
</Layout>
