---
import Layout from "../layouts/Layout.astro";
import logo from "/grupoliber-white.svg";
---

<Layout title="Grupo LIBER">
  <div class="logo">
    <img src={logo} width="280" alt="Grupo LIBER" />
  </div>
</Layout>
